.col-1 {
  flex: 0 0 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: white;
  font-family: "Quicksand", sans-serif;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

li {
  list-style: none;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
}
header .up-nav {
  width: 100%;
  display: flex;
  position: fixed;
}
header .up-nav .logo {
  width: 100%;
  height: 50px;
  text-align: end;
  background-color: #383838;
  display: flex;
  justify-content: end;
}
header .up-nav .logo h2 {
  margin: 11px 7px;
  color: #fff;
}
header .up-nav .logo img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
header .up-nav .user-links {
  background: #383838;
  height: 50px;
  text-align: center;
  display: flex;
  position: relative;
  left: 52px;
  transition: all 0.3s ease-in-out;
}
header .up-nav .user-links .linkUser {
  font-size: 30px;
  margin-left: 80px;
  margin-top: 8px;
  color: #fff;
  position: relative;
  cursor: pointer;
}
header .up-nav .user-links .linkUser i {
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 5px;
}
header .up-nav .user-links .ul {
  text-align: start;
  padding: 20px 20px;
  background-color: #383838;
  color: #fff;
  width: fit-content;
  height: fit-content;
  border-radius: 6px;
  margin: 0;
  position: absolute;
  left: 63px;
  top: 60px;
  opacity: 1;
  display: none;
  font-size: 20px;
}
header .up-nav .user-links .ul li {
  cursor: pointer;
  margin-top: 10px;
}
header .up-nav .user-links .ul::before {
  content: "";
  border-bottom: #383838;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-style: solid;
  border-width: 10px;
  position: absolute;
  top: -20px;
}
header .up-nav .user-links .ul hr {
  width: 100px;
  margin: 7px 0;
}
header .up-nav .user-links span {
  color: #fff;
  margin: 13px 0px 0px 21px;
}
header .main-nav-links {
  transition: all 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  background: #383838;
  color: #fff;
  width: 65px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
  position: fixed;
  left: 0;
  z-index: 2;
}
header .main-nav-links::-webkit-scrollbar {
  display: none;
  width: 0;
}
header .main-nav-links ul {
  margin: 0 0 0 11px;
  padding: 0;
}
header .main-nav-links .i {
  margin: 20px 15px;
  font-size: 30px;
  cursor: pointer;
}
header .main-nav-links li {
  font-size: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  position: relative;
}
header .main-nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding-top: 10px;
  opacity: 0;
  position: absolute;
  left: 46px;
  transition: all 0.3s ease-in-out;
}
header .main-nav-links li i {
  color: #fff;
}
header .setting {
  margin-left: 9px;
}
header .setting i {
  font-size: 30px;
  margin-top: 7px;
  color: #fff;
  cursor: pointer;
}

.slider {
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.slider td {
  width: 300px;
}
.slider .edit {
  border: 0;
  background: #54d584;
  color: #fff;
  padding: 7px 25px;
  border-radius: 6px;
  margin: 3px 0px;
  cursor: pointer;
}
.slider .delete {
  border: 0;
  background: #ff5c5c;
  color: #fff;
  padding: 7px 25px;
  border-radius: 6px;
  cursor: pointer;
}
.slider .add-new {
  margin-top: 15px;
  border: 0;
  background: #54d584;
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
}
.slider .title {
  margin-top: 22px;
  font-size: 20px;
}
.slider .title span {
  font-weight: bold;
  font-size: 25px;
  margin-right: 15px;
}
.slider .title input {
  margin-right: 18px;
  padding: 3px 7px;
  border: 1px solid;
  border-color: #a8a0a0;
  outline: none;
  border-radius: 5px;
}
.slider .disk {
  width: 42%;
  display: flex;
  flex-direction: column;
}
.slider .disk .title-disk {
  text-align: start;
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0px;
}
.slider .disk .ar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.slider .disk .ar span {
  margin-top: 25px;
  margin-right: 11px;
}
.slider .disk .ar textarea {
  width: 52%;
  height: 70px;
  margin-bottom: 20px;
}
.slider .disk .en {
  display: flex;
  justify-content: center;
}
.slider .disk .en span {
  margin-top: 25px;
  margin-right: 11px;
}
.slider .disk .en textarea {
  width: 52%;
  height: 70px;
  margin-bottom: 20px;
}

.class1 {
  height: 4000px;
  text-align: center;
  font-size: 3em;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.activeUserMenu {
  display: block !important;
  animation: slideUser 0.5s linear;
}

.active {
  width: 190px !important;
}

.disAnchor {
  opacity: 1 !important;
}

@keyframes slideUser {
  0% {
    opacity: 0.5;
    top: 95px;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 60px;
    opacity: 1;
  }
}

/*# sourceMappingURL=Style.css.map */
