// @mixin column($in, $to, $mar: 20px) {
//     width: calc(100% * #{$in / $to} - (#{$mar} - #{$mar} * #{$in / $to}));
//     &:nth-child(1n) {
//       float: left;
//       margin-right: $mar;
//     }
//     &:nth-child(#{$to}n) {
//       float: right;
//       margin-right: 0;
//     }
//     &:last-child {
//       margin-right: 0;
//     }
//   }

// Grid System With FlexBox
  $column: 12;
  @for $i from 1 through $column {
        .col-#{$i} {
          flex: 0 0 calc(100% / ($column / $i));
        }
  }
  //function for img
  
  @mixin imgres($url, $ce: auto auto, $co: '')
  {
    background: url('#{$url}') #{$ce};
    @if ($co != '') {
      background-size: $co;
    }
  }
  $maincolor: #2e60c6;
  $white-color  : #f8f8f8;
$black-color  : #383838;
$pink-color   : #f24e86;
$blue-color   : #02b4ff;
$gray-color   : #acacac;
$green-color  : #54d584;
$yellow-color : #f4cf54;
$red-color    : #ff5c5c;

  